/.gradle
/local.properties
/.idea/workspace.xml
/.idea
/.DS_Store
/build
/captures
app/src/main/res/values/strings_BACKUP_10579.xml
app/src/main/res/values/strings_BASE_10579.xml
app/src/main/res/values/strings_LOCAL_10579.xml
app/src/main/res/values/strings_REMOTE_10579.xml
